<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>A_Category.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0A4A59E91E21BF3B00812BEC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0A4A5A021E21BF3B00812BEC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0A4A5A0D1E21BF3B00812BEC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
